<div class="group">
    <div class="col-4">
        <li class="w3-bar">
            <!-- <span onclick="this.parentElement.style.display='none'"
            class="w3-bar-item w3-button w3-xlarge w3-right">&times;</span> -->
            <img src="../../assets/novic.JPG" class="w3-bar-item w3-circle" style="width:85px">
            <div class="w3-bar-item">
            <span class="w3-large">Novic</span><br>
            <span>Developpeur</span><br>
            <span> Date: 22/04/2023</span><br>
            <button onclick="document.getElementById('id01').style.display='block'" class="btn1">Voir le commentaire</button>
            </div>
            
        </li>
    </div>
    <div class="col-4">
        <li class="w3-bar">
            <!-- <span onclick="this.parentElement.style.display='none'"
            class="w3-bar-item w3-button w3-xlarge w3-right">&times;</span> -->
            <img src="../../assets/aa.jpg" class="w3-bar-item w3-circle" style="width:85px">
            <div class="w3-bar-item">
            <span class="w3-large">Stéphanel</span><br>
            <span>Secretaire</span><br>
            <span> Date: 18/04/2023</span><br>
            <button onclick="document.getElementById('id01').style.display='block'" class="btn1">Voir le commentaire</button>
            </div>
            
        </li>
    </div>
    <div class="col-4">
        <li class="w3-bar">
            <!-- <span onclick="this.parentElement.style.display='none'"
            class="w3-bar-item w3-button w3-xlarge w3-right">&times;</span> -->
            <img src="../../assets/g.jpg" class="w3-bar-item w3-circle" style="width:85px">
            <div class="w3-bar-item">
            <span class="w3-large">Sorelle</span><br>
            <span>Assistante jusridique</span><br>
            <span> Date: 12/04/2023</span><br>
            <button onclick="document.getElementById('id01').style.display='block'" class="btn1">Voir le commentaire</button>
            </div>
            
        </li>
    </div>
    <div class="col-4">
        <li class="w3-bar">
            <!-- <span onclick="this.parentElement.style.display='none'"
            class="w3-bar-item w3-button w3-xlarge w3-right">&times;</span> -->
            <img src="../../assets/amerique.png" class="w3-bar-item w3-circle" style="width:85px">
            <div class="w3-bar-item">
            <span class="w3-large">Ismael</span><br>
            <span>Manager</span><br>
            <span> Date: 11/04/2023</span><br>
            <button onclick="document.getElementById('id01').style.display='block'" class="btn1">Voir le commentaire</button>
            </div>
            
        </li>
    </div>
    <div class="col-4">
        <li class="w3-bar">
            <!-- <span onclick="this.parentElement.style.display='none'"
            class="w3-bar-item w3-button w3-xlarge w3-right">&times;</span> -->
            <img src="../../assets/th.jpg" class="w3-bar-item w3-circle" style="width:85px">
            <div class="w3-bar-item">
            <span class="w3-large">Arnau</span><br>
            <span>Secretaire</span><br>
            <span> Date: 03/04/2023</span><br>
            <button onclick="document.getElementById('id01').style.display='block'" class="btn1">Voir le commentaire</button>
            </div>
            
        </li>
    </div>
    <div class="col-4">
        <li class="w3-bar">
            <!-- <span onclick="this.parentElement.style.display='none'"
            class="w3-bar-item w3-button w3-xlarge w3-right">&times;</span> -->
            <img src="../../assets/t.jpg" class="w3-bar-item w3-circle" style="width:85px">
            <div class="w3-bar-item">
            <span class="w3-large">Kevin</span><br>
            <span>jusriste</span><br>
            <span> Date: 28/03/2023</span><br>
            <button onclick="document.getElementById('id01').style.display='block'" class="btn1">Voir le commentaire</button>
            </div>
            
        </li>
    </div>
</div>

  <!-- modal -->
  <div class="w3-container">
    <div id="id01" class="w3-modal">
     <div class="w3-modal-content w3-card-4 w3-animate-zoom">
      <header class="w3-container w3-blue"> 
       <span onclick="document.getElementById('id01').style.display='none'" 
       class="w3-button w3-blue w3-xlarge w3-display-topright">&times;</span>
      </header>

    
      <div id="Tokyo" class="w3-container city">
        <h2 class="tache">Commentaires </h2>
        <p>Je m'appelle Novic </p>
       <p>a la date du 22/04/2023.</p>
       <h3>j'ai rencontrer la difficulté: Le café c'est versé dessus et des lors cela ne s'allume plus </h3>
       <p> Suite a ce probleme rentré, Je tiens a mentionner que mon probleme a ete resolu dans les temps et pour cela je dis beaucoup de courage a l'equipe et je promet de faire beaucoup attention les prochaine fois.. merci encore </p>
       
      </div>
      <hr>
     
      
    
      <div class="w3-container w3-light-grey w3-padding">
       <button class="w3-button w3-right w3-white w3-border" 
       onclick="document.getElementById('id01').style.display='none'">Close</button>
      </div>
     </div>
    </div>
    
    </div>

