
<app-nav-bar></app-nav-bar>
<div class="app-container">
  
  <div class="app-header">
  
      <div class="projects-section">
      <div class="project-boxes jsGridView">
        <div class="project-box-wrapper">
          <div class="project-box" style="background-color: #fee4cb;">
            <div class="project-box-header">
              <span>Total Ordinateurs: 150</span>
        </div>
        <div class="project-box-content-header">
          <p class="box-content-header">Ordinateurs en fonction</p>
          <p class="box-content-subheader">145</p>
        </div>
        <div class="box-progress-wrapper">
          <p class="box-progress-header">Quantité en stock:  15</p>
          <div class="box-progress-bar">
            <span class="box-progress" style="width: 86%; background-color: #ff942e"></span>
          </div>
          <p class="box-progress-percentage">86%</p>
        </div>
        <div class="project-box-footer">
          <div class="participants">
            <img src="https://th.bing.com/th/id/R.d0d86252753d2b3d9b61b8ee5ac62455?rik=SFEknDY1VH1Z1g&riu=http%3a%2f%2fevasion-online.com%2fRecupImgArticles%2fordinateur%2bportable%2fasus_x555yi-xx150t_k1607154241541A_150419059.jpg&ehk=FUkCHcCAhRp%2b5wDqpNXeEoi1i%2fkxm%2fTpPhm3DjO4whI%3d&risl=&pid=ImgRaw&r=0" alt="participant">
            <img src="https://th.bing.com/th/id/R.f661de2a523c99096a1e4abcc931ae04?rik=VdUYqSjZzomj1w&pid=ImgRaw&r=0" alt="participant">
            <img src="https://th.bing.com/th/id/R.d0d86252753d2b3d9b61b8ee5ac62455?rik=SFEknDY1VH1Z1g&riu=http%3a%2f%2fevasion-online.com%2fRecupImgArticles%2fordinateur%2bportable%2fasus_x555yi-xx150t_k1607154241541A_150419059.jpg&ehk=FUkCHcCAhRp%2b5wDqpNXeEoi1i%2fkxm%2fTpPhm3DjO4whI%3d&risl=&pid=ImgRaw&r=0" alt="participant">
            <button class="add-participant" style="color: #ff942e;" routerLink="/equipements/ordinateurs">
              <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus">
                <path d="M12 5v14M5 12h14" />
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="project-box-wrapper">
      <div class="project-box" style="background-color: #e9e7fd;">
        <div class="project-box-header">
          <span>Total Imprimentes: 81</span>
        </div>
        <div class="project-box-content-header">
          <p class="box-content-header">Imprimentes En fonction</p>
          <p class="box-content-subheader">75</p>
        </div>
        <div class="box-progress-wrapper">
          <p class="box-progress-header">Quantité en stock:  6</p>
          <div class="box-progress-bar">
            <span class="box-progress" style="width: 91%; background-color: #4f3ff0"></span>
          </div>
          <p class="box-progress-percentage">91%</p>
        </div>
        <div class="project-box-footer">
          <div class="participants">
            <img src="https://th.bing.com/th?id=OIP.HTLdG0QvkCbFSPdAL8kUFQHaHT&w=251&h=248&c=8&rs=1&qlt=90&o=6&pid=3.1&rm=2" alt="participant">
            <img src="https://th.bing.com/th?id=OIP.uaPd_W0EqlZV6MQxMyBujwHaHa&w=250&h=250&c=8&rs=1&qlt=90&o=6&pid=3.1&rm=2" alt="participant">
            <img src="https://th.bing.com/th/id/OIP.g0yadNACRpvAXpgR2UAqHgHaHa?pid=ImgDet&rs=1" alt="participant">
            <button class="add-participant" style="color: #4f3ff0;" routerLink="/equipements/imprimentes">
              <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus">
                <path d="M12 5v14M5 12h14" />
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="project-box-wrapper">
      <div class="project-box">
        <div class="project-box-header">
          <span>Total Scanners: 61</span>
        </div>
        <div class="project-box-content-header">
          <p class="box-content-header">Scanners en fonction</p>
          <p class="box-content-subheader"> 35</p>
        </div>
        <div class="box-progress-wrapper">
          <p class="box-progress-header">Quantité en stock:  26</p>
          <div class="box-progress-bar">
            <span class="box-progress" style="width: 28%; background-color: #096c86"></span>
          </div>
          <p class="box-progress-percentage">28%</p>
        </div>
        <div class="project-box-footer">
          <div class="participants">
            <img src="https://th.bing.com/th/id/R.d0d86252753d2b3d9b61b8ee5ac62455?rik=SFEknDY1VH1Z1g&riu=http%3a%2f%2fevasion-online.com%2fRecupImgArticles%2fordinateur%2bportable%2fasus_x555yi-xx150t_k1607154241541A_150419059.jpg&ehk=FUkCHcCAhRp%2b5wDqpNXeEoi1i%2fkxm%2fTpPhm3DjO4whI%3d&risl=&pid=ImgRaw&r=0" alt="participant">
            <img src="https://th.bing.com/th/id/R.f661de2a523c99096a1e4abcc931ae04?rik=VdUYqSjZzomj1w&pid=ImgRaw&r=0" alt="participant">
            <img src="https://th.bing.com/th/id/R.d0d86252753d2b3d9b61b8ee5ac62455?rik=SFEknDY1VH1Z1g&riu=http%3a%2f%2fevasion-online.com%2fRecupImgArticles%2fordinateur%2bportable%2fasus_x555yi-xx150t_k1607154241541A_150419059.jpg&ehk=FUkCHcCAhRp%2b5wDqpNXeEoi1i%2fkxm%2fTpPhm3DjO4whI%3d&risl=&pid=ImgRaw&r=0" alt="participant">
            <button class="add-participant" style="color: #096c86;" routerLink="/equipements/scanners">
              <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus">
                <path d="M12 5v14M5 12h14" />
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="project-box-wrapper">
      <div class="project-box" style="background-color: #ffd3e2;">
        <div class="project-box-header">
          <span>Total Photocopieuse : 53</span>
        </div>
        <div class="project-box-content-header">
          <p class="box-content-header">Photocopieuses en fonction</p>
          <p class="box-content-subheader"> 45</p>
        </div>
        <div class="box-progress-wrapper">
          <p class="box-progress-header">Quantité en stock: 8</p>
          <div class="box-progress-bar">
            <span class="box-progress" style="width: 77%; background-color: #df3670"></span>
          </div>
          <p class="box-progress-percentage">77%</p>
        </div>
        <div class="project-box-footer">
          <div class="participants">
            <img src="https://th.bing.com/th?id=OIP.HTLdG0QvkCbFSPdAL8kUFQHaHT&w=251&h=248&c=8&rs=1&qlt=90&o=6&pid=3.1&rm=2" alt="participant">
            <img src="https://th.bing.com/th?id=OIP.uaPd_W0EqlZV6MQxMyBujwHaHa&w=250&h=250&c=8&rs=1&qlt=90&o=6&pid=3.1&rm=2" alt="participant">
            <img src="https://th.bing.com/th/id/OIP.g0yadNACRpvAXpgR2UAqHgHaHa?pid=ImgDet&rs=1" alt="participant">
            <button class="add-participant" style="color: #df3670;" routerLink="/equipements/photocopieuses">
              <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus">
                <path d="M12 5v14M5 12h14" />
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="project-box-wrapper">
      <div class="project-box" style="background-color: #c8f7dc;">
        <div class="project-box-header">
          <span>Total Cables: 202</span>
        </div>
        <div class="project-box-content-header">
          <p class="box-content-header">Cables en fonction</p>
          <p class="box-content-subheader">180</p>
        </div>
        <div class="box-progress-wrapper">
          <p class="box-progress-header">Quantité en stock: 22</p>
          <div class="box-progress-bar">
            <span class="box-progress" style="width: 81%; background-color: #34c471"></span>
          </div>
          <p class="box-progress-percentage">81%</p>
        </div>
        <div class="project-box-footer">
          <div class="participants">
            <img src="https://th.bing.com/th/id/R.d0d86252753d2b3d9b61b8ee5ac62455?rik=SFEknDY1VH1Z1g&riu=http%3a%2f%2fevasion-online.com%2fRecupImgArticles%2fordinateur%2bportable%2fasus_x555yi-xx150t_k1607154241541A_150419059.jpg&ehk=FUkCHcCAhRp%2b5wDqpNXeEoi1i%2fkxm%2fTpPhm3DjO4whI%3d&risl=&pid=ImgRaw&r=0" alt="participant">
            <img src="https://th.bing.com/th/id/R.f661de2a523c99096a1e4abcc931ae04?rik=VdUYqSjZzomj1w&pid=ImgRaw&r=0" alt="participant">
            <img src="https://th.bing.com/th/id/R.d0d86252753d2b3d9b61b8ee5ac62455?rik=SFEknDY1VH1Z1g&riu=http%3a%2f%2fevasion-online.com%2fRecupImgArticles%2fordinateur%2bportable%2fasus_x555yi-xx150t_k1607154241541A_150419059.jpg&ehk=FUkCHcCAhRp%2b5wDqpNXeEoi1i%2fkxm%2fTpPhm3DjO4whI%3d&risl=&pid=ImgRaw&r=0" alt="participant">
            <button class="add-participant" style="color: #34c471;">
              <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus">
                <path d="M12 5v14M5 12h14" />
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="project-box-wrapper">
      <div class="project-box" style="background-color: #d5deff;">
        <div class="project-box-header">
          <span>Total Autre: ****</span>
        </div>
        <div class="project-box-content-header">
          <p class="box-content-header">Autre en fonction</p>
          <p class="box-content-subheader">120</p>
        </div>
        <div class="box-progress-wrapper">
          <p class="box-progress-header">Quantité en stock: 5 </p>
          <div class="box-progress-bar">
            <span class="box-progress" style="width: 98%; background-color: #4067f9"></span>
          </div>
          <p class="box-progress-percentage">98%</p>
        </div>
        <div class="project-box-footer">
          <div class="participants">
            <img src="https://th.bing.com/th?id=OIP.HTLdG0QvkCbFSPdAL8kUFQHaHT&w=251&h=248&c=8&rs=1&qlt=90&o=6&pid=3.1&rm=2" alt="participant">
            <img src="https://th.bing.com/th?id=OIP.uaPd_W0EqlZV6MQxMyBujwHaHa&w=250&h=250&c=8&rs=1&qlt=90&o=6&pid=3.1&rm=2" alt="participant">
            <img src="https://th.bing.com/th/id/OIP.g0yadNACRpvAXpgR2UAqHgHaHa?pid=ImgDet&rs=1" alt="participant">
            <button class="add-participant" style="color: #4067f9;">
              <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus">
                <path d="M12 5v14M5 12h14" />
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="messages-section">
  <div class="projects-section-header">
    <p>Commntaires Utilisateurs</p>
  </div>
  <div class="messages">
    <div class="message-box">
      <img src="../../assets/aa.jpg" alt="profile image">
      <div class="message-content">
        <div class="message-header">
          <div class="name">Stephanie</div>
          <div class="star-checkbox">
            <input type="checkbox" id="star-1">
            <label for="star-1">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star">
                <polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2" /></svg>
            </label>
          </div>
        </div>
        <p class="message-line">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. 🥳 Adipisci ut dolore cumque veniam expedita ullam debitis pariatur tempora 
        </p>
        <p class="message-line time">
          Dec, 12
        </p>
      </div>
    </div>
    <div class="message-box">
      <img src="../../assets/novic.JPG" alt="profile image">
      <div class="message-content">
        <div class="message-header">
          <div class="name">Novic</div>
          <div class="star-checkbox">
            <input type="checkbox" id="star-2">
            <label for="star-2">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star">
                <polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2" /></svg>
            </label>
          </div>
        </div>
        <p class="message-line">
          Hey, can tell me about progress of project? I'm waiting for your response.
        </p>
        <p class="message-line time">
          Dec, 12
        </p>
      </div>
    </div>
    <div class="message-box">
      <img src="../../assets/th.jpg" alt="profile image">
      <div class="message-content">
        <div class="message-header">
          <div class="name">David</div>
          <div class="star-checkbox">
            <input type="checkbox" id="star-3">
            <label for="star-3">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star">
                <polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2" /></svg>
            </label>
          </div>
        </div>
        <p class="message-line">
          Awesome! 🤩 I like it. We can schedule a meeting for the next one.
        </p>
        <p class="message-line time">
          Dec, 12
        </p>
      </div>
    </div>
    <div class="message-box">
      <img src="../../assets/g.jpg" alt="profile image">
      <div class="message-content">
        <div class="message-header">
          <div class="name">Jessica</div>
          <div class="star-checkbox">
            <input type="checkbox" id="star-4">
            <label for="star-4">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star">
                <polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2" /></svg>
            </label>
          </div>
        </div>
        <p class="message-line">
          I am really impressed! Can't wait to see the final result.
        </p>
        <p class="message-line time">
          Dec, 11
        </p>
      </div>
    </div>
  </div>
</div>
</div>
</div>